/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2020, 11:57:07 PM
    Author     : Ehab
*/

.root{
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-width: 5;
}

.pane{
    -fx-background-color: -fx-secondary;
}

.test-button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
}

.test-button:hover{
    -fx-border-color: -fx-primary;
    -fx-background-color: -fx-secondary;
}


.label{
    -fx-text-fill: -fx-primarytext;
}

.about-link{
    -fx-text-fill: -fx-primarytext;
}
.about-link:hover{
    -fx-text-fill: -fx-secondarytext;
}

.escape-buttons{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: transparent;
}