/* 
    Created on : 1 Jun, 2020, 8:12:46 AM
    Author     : Abdlerahman Bayoumi
*/

* {
    -fx-primary :   #3F51B5;
    -fx-secondary :   #303F9F;
    -fx-primarytext : #ffffff;
    -fx-secondarytext : #90acff;
}

/*.root{
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-width: 5;
}

.pane{
    -fx-background-color: -fx-secondary;
}



.test-button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
}

.test-button:hover{
    -fx-border-color: -fx-primary;
    -fx-background-color: -fx-secondary;
}


.label{
    -fx-text-fill: -fx-primarytext;
}

.about-link{
    -fx-text-fill: -fx-primarytext;
}
.about-link:hover{
    -fx-text-fill: -fx-secondarytext;
}

.escape-buttons{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: transparent;
}*/